
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="row aboutmain" style="justify-content: center;align-items: center;">
    <h1 class="text-center" style="font-size:3rem;color: rgb(41, 250, 34);">About US Page</h1>
</div>
<div class="row p-5">
    <p style="letter-spacing: 2px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui architecto tenetur ipsam eveniet possimus labore exercitationem, a eius pariatur atque, sint eos dolores eaque quas ad, esse debitis. Incidunt maiores assumenda aperiam impedit velit facilis tempora? Dolorum, officia soluta eos repellat iure quod esse atque, nam eaque accusantium ex harum sit iusto cumque quae vitae fuga repellendus est! Minus sed voluptatum expedita, ad, ut exercitationem neque corrupti, fugiat sapiente molestias aliquam eos quaerat ratione! Ratione molestiae suscipit maxime rerum quasi dignissimos ipsa recusandae, placeat officiis non repellendus et consectetur illo aperiam deserunt sit odio odit iusto nam laboriosam tempora a? Iusto fugit quisquam accusamus molestiae iste earum cumque neque blanditiis nobis ab fugiat rerum, et alias dolor tempore molestias aperiam officia eligendi beatae magnam deleniti error, aut obcaecati! Repellendus, itaque quos labore ab nobis id tempora harum, ipsum eum perspiciatis modi. Ipsa, labore ab vero similique a nemo perspiciatis totam beatae id, suscipit iure possimus hic obcaecati nam iste omnis laborum magni vel accusantium eos, deserunt veritatis pariatur debitis molestiae. Nam distinctio fuga autem sapiente sunt. Omnis, nihil. Quasi soluta eligendi quo reiciendis, autem laborum laudantium nesciunt aspernatur obcaecati tempore quidem corrupti magnam asperiores illo enim ducimus dolorem voluptatibus optio.
    </p>
</div>


