<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Panel</title>

    <!-- Bootstrap Css -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dash1/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="~/Content/dash1/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link href="~/Content/dash1/css/style4.css" rel="stylesheet" />
    <!--// Nav Css -->
    <!--font awesome 4.0.3-->
    <!-- Fontawesome Css -->
    <link href="~/Content/dash1/css/fontawesome-all.css" rel="stylesheet" />
    <!--// Fontawesome Css -->

    <style>
        .admincont .row{
            overflow-y: scroll ;
            height:70vh;
        }
        ::-webkit-scrollbar {
            width: 5px;
            background: #d9d7d7;
            border-radius: 50px;
        }

        ::-webkit-scrollbar-track {
            
        }

        ::-webkit-scrollbar-thumb {
            background: #45595b;
            border-radius: 50px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #ff6c00;
            }
        .admincont .row .formcont {
            border-radius: 15px;
            border: 2px solid #d9d7d7;
            box-shadow: 0px 0px 12px #d9d7d7;
        }
            .admincont .row .formcont form {
                overflow-y: scroll;
                height: 55vh;
            }
        .admincont .unscroll {
            overflow:unset !important;
            height: 70vh;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div style="color:red;" class="sidebar-header">
                <h1>
                    <a href="index.html">Admin</a>
                </h1>
                <span>Admin</span>
            </div>
            <div class="profile-bg">  
            <i class="far fa-user"></i></div>
            <ul class="list-unstyled components" style=" overflow-y: scroll; height: 421px;">
                <li class="active">
                    <a style="background:lime;" href="/Admint/Index">
                        <i class="fas fa-th-large"></i><b> Dashboard</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/AddCategory" style="background:lime;">
                        <i class="fas fa-book"></i><b>Add Category</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/CategoryManagement" style="background:lime;">
                        <i class="fas fa-book"></i><b>Category Management</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/AddProducts" style="background:lime;">
                        <i class="fas fa-book"></i><b>Add Products</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/ProductManagement" style="background:lime;">
                        <i class="fas fa-book"></i><b>Product Management</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/OrderManagement" style="background:lime;">
                        <i class="fas fa-book"></i><b>Order Management</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/RegMGMT" style="background:lime;">
                        <i class="fas fa-book"></i><b>User Management</b>
                    </a>
                </li>
                <li>
                    <a style="background:lime;" href="/Admint/ContactMGMT">
                        <i class="fas fa-book"></i><b>Contacts Management</b>
                    </a>
                </li>
                <li>
                    <a href="/Admint/AdminMGMT" style="background:lime;">
                        <i class="fas fa-book"></i><b>Admin Details</b>
                    </a>
                </li>
                <li>
                    <a style="background:lime;" href="/Admint/ChangePassword">
                        <i class="fas fa-book"></i><b>Change Password</b>
                    </a>
                </li>
                <li>
                    <a style="background:lime;" href="/Admint/LogOut">
                        <i class="fas fa-book"></i><b>LogOut</b>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-2">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="background: #008f0082; color: black;">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>

                    <!--// Search-from -->
                    <ul class="top-icons-agileits-w3layouts float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu drop-3">
                                <div class="profile d-flex mr-o">

                                    <div class="profile-r align-self-center">
                                        <h3 class="sub-title-w3-agileits">Will Smith</h3>
                                        <a href="mailto:info@example.com">info@example.com</a>
                                    </div>
                                </div>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-user mr-3"></i>My Profile
                                    </h4>
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Admint/LogOut">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--// top-bar -->


            <div class="container-fluid admincont">
                @RenderBody()
            </div>

            <!-- Copyright -->
            <div class="copyright-w3layouts py-xl-3 py-2 mt-2 text-center" style=" position: fixed; bottom: 0px; width: -webkit-fill-available;">
                <p>
                    © 2025 AS . All Rights Reserved | Design by Arpit Sahu
                    <a href="">FruiTables</a>
                </p>
            </div>
            <!--// Copyright -->
        </div>
    </div>



    <!-- Required common Js -->
    <script src='~/Content/dash1/js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->
    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

    <!-- Js for bootstrap working-->
    <script src="~/Content/dash1/js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->

</body>

</html>
