
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row p-5" style="justify-content: center; align-items: center;">
    <div class="col-sm-6 p-5 pt-3" style="border: 1px solid rgba(128, 128, 128, 0.26);">
        <h2 class="fs-1 text-center" style="color: rgb(41, 250, 34);font-family:cursive;">Change Password</h2>
        <p class="text-muted">Welcome Our Website</p>
        <hr>
        <form class="contactform" action="/Admint/ChangePassword" method="post">
            <label>New Password:</label>
            <input type="password" name="newpass" id="newpass" placeholder="Enter Your New Password.." class="form-control" /><br />
            <label>ConFrim Password:</label>
            <input type="password" name="confrimpass" id="password" placeholder="Enter Your Confrim Password.." class="form-control" /><br />
            <input type="submit" value="Change Password" class="form-control btn btn-outline-success" />
        </form>
    </div>
</div>

